@model IEnumerable<Product>

@foreach (var item in Model)
{
    <div class="col-lg-4 col-sm-6">
        <div class="product text-center">
            <div class="mb-3 position-relative">
                <div class="badge text-white bg-"></div><a class="d-block" asp-action="ProductDetail" asp-controller="Home" asp-route-productId="@item.Id"><img class="img-fluid w-100" src="@ImageConverter.ByteArrayToImageAsync(@item.ProductDetails.Photos[0].PhotoArr)" alt="@item.ProductDetails.ProductName"></a>
                <div class="product-overlay">
                    <ul class="mb-0 list-inline">
                        <form method="post" asp-controller="Home" asp-action="AddToCart">
                        <li class="list-inline-item m-0 p-0">
                            <input hidden type="text" name="productId" id="productId" value="@item.Id" class="btn btn-sm btn-dark" />
                            <input type="submit" value="Add to Cart" class="btn btn-sm btn-dark" />
                        </li>
                        </form>
                    </ul>
                </div>
            </div>
            <h6> <a class="reset-anchor" asp-action="ProductDetail" asp-controller="Home" asp-route-productId="@item.Id">@item.ProductDetails.ProductName</a></h6>
            <p class="small text-muted">@item.Price₺</p>
        </div>
    </div>
}
